<div class="container">
  <table class="table table-hover">
    <tr ngclass="btn-primary">
      <th>Employee Name</th>
      <th>Employee Code</th>
      <th>Position</th>
      <th>Phone number</th>
      <th></th>
    </tr>
    <tr *ngFor="let emp of service.list">
      <td (click)="populateForm(emp)">{{emp.FullName }}</td>
      <td (click)="populateForm(emp)">{{emp.EMPCode}}</td>
      <td (click)="populateForm(emp)">{{emp.Position}}</td>
      <td (click)="populateForm(emp)">{{emp.Mobile}}</td>
      <td>
        &nbsp;
        <button type="button" class="btn btn-info" matTooltip="Click to see more employee's information"
          (click)="onDetails(emp.EmployeeID)">Details</button>
        &nbsp;
        <button type="button" class="btn btn-danger" matTooltip="Click to delete this employee's information"
          (click)="onDelete(emp.EmployeeID)">Delete</button>
      </td>
    </tr>
  </table>

</div>
